
@{
    ViewBag.Title = "Índice";
}

<h1>Índice</h1>
<a class="btn btn-primary" href="../es/texto_a_voz_pro">Conversión Profesional</a>
<br />
<br />
<a class="btn btn-primary" href="../es/texto_a_voz">Conversión GRaTuiTa</a>
<br />
<br />
<a class="btn btn-primary" href="../es/Descargas">Descargas</a>

