@Scripts.Render("~/bundles/jquery")
<script type='text/javascript'>

    $(document).ready(function () {

        $('#modalProcessing').modal({
            backdrop: 'static',
            keyboard: false
        })

        $('#modalProcessing').modal('hide');

        $('#bannerclick').click(function () {
            if (window.FormData !== undefined) {
                $('#textoModal').text('... Añadiendo banner ...');
                $('#modalProcessing').modal('show');

                // Create FormData object
                var fileData = new FormData();

                var token = $('[name=__RequestVerificationToken]').val();
                fileData.append("__RequestVerificationToken", token);

                var fileUpload = $("#image").get(0);
                var files = fileUpload.files;

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                    fileData.append('titulo', $('#titulo').val());
                    fileData.append('urlD', $('#urlD').val());
                }

                $.ajax({
                    url: '../es/PublicidadD',
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    type: 'POST',
                    data: fileData,
                    success: function sfn(r) {
                        $('#textoModal').text(r);
                        $('#titulo').val('');
                        $('#urlD').val('');
                    },
                    error: function myfunction() {

                    },
                    complete: function completefunc() {
                        $('#modalClose').removeAttr('disabled')
                        $("#modalClose").attr('class', 'btn-primary');
                        return false;
                    }

                });
            }
            else {
                alert('not file');
            }
        });
    });
</script>
@{
    ViewBag.Title = "Publicidad Banner Derecho";
}

<h1>Publicidad Banner Derecho</h1>

<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

<br /><p>Imagen: 100 x 100 px</p>
<input id="image" style="display:inline-block;" name="image" type="file" required />
<br />
<br /><p>Nombre del sitio:</p>
<input id="titulo" width="200" style="width:200px;color:black;" name="titulo" type="text" value="" required />
<br />
<br /><p>Url destino: (Su web)</p>
<input id="urlD" width="400" style="width:400px;color:black;" name="urlD" type="url" value="https://" required />
<br />
<br />
<input id="bannerclick" class="btn btn-primary" type="button" value="Enviar para validar" />

<br />
<br />
<p>
    <i>(El banner pasará por un proceso de validación, que tras su aceptación recibirá un correo electrónico con el que poder hacer su inversión.</i><br />
    <i>El banner se ordenará más o menos ascendentemente dependiendo de dicha inversión, apareciendo en la posición superior los banners en los que se ha realizado una mayor inversión.)</i><br />
    <i>La inversión en el banner tendrá una duración de 90 días, pudiendo hacer pagos descontinuos en el tiempo, que se computaran juntos en los periodos vigentes de los mismos.</i><br />
    <i>No se aceptarán banners de contenido xenófobo, racista o sexual, no obstante nos reservamos el derecho de denegar cualquier tipo de banner por cualquier tipo de motivo.</i><br />
    <i>Los banners que ocupen la primera posición de cada lista (izquierda y derecha) aparecerán también en la pantallas de carga de la Conversión GRaTuiTa.</i>
</p>

<!-- Modal -->
<div id="modalProcessing" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="modalBody" class="modal-body" style="text-align:center;width:100%;height:100%;">
                <p id="textoModal">... Añadiendo banner ...</p>
                <button id="modalClose" class="disabled" data-dismiss="modal" aria-hidden="true" disabled>Cerrar</button>
            </div>
        </div>
    </div>
</div>
