@{
    ViewBag.Title = "Confirmar correo electrónico - ";
}

<h2>Confirmar correo electrónico</h2>
<div>
    <p>
        <b class="text-success">Gracias por confirmar su email.</b> Por favor, @Html.ActionLink("Haga click aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
