@{
    ViewBag.Title = "Confirmación de contraseña olvidada - ";
}

<hgroup class="title">
    <h2>Confirmación de contraseña olvidada</h2>
</hgroup>
<div>
    <p class="text-success">
        Compruebe el correo electrónico para restablecer la contraseña.
    </p>
</div>
	
