<div class="" style="border-radius:15px; margin-top: 5px; padding-top: 5px; background-size: contain; background-image: url(/imgs/apzyxGamesHead.jpg); background-color: black; ">
    <div class="row" style="margin-top:5px;">
        <div class="col-md-12" style="text-align:center;vertical-align:central;">
            @*<div style="text-align:center;vertical-align:central;margin:23px;">

        </div>*@
            <h1 style="color:gold;" title="apzyxGames es un estudio familiar inusual independiente formado a nivel ejecutivo por una sola persona (Pérez Sánchez, Pablo), nutrido y interdependientemente condicionado con sus circunstancias individuales y sociales, así como esta 'La Realidad' y la percepción subjetiva en la que todo esto se encuentra, para cualquier propuesta, acción, consulta teórico filosófica compleja, duda derivada interpretable, sugerencia constructiva y/o indicaciones y propuestas, ya sea concreta, relativa o existencial puede contactar a apzyx@yahoo.com">apzyxGames</h1>
            @*<img src="~/imgs/apzyxGamesHead.jpg" style="width:66%;height:auto;" /><br/><br />*@
            @*<p class="lead" lang="es" style="color: gold;">
                
            </p>*@
        </div>

        
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;vertical-align:central;">
            <b>&infin;</b>
        </div>
    </div>    
</div>
<b style="color:#CCCCCC;">Aljucer <i style="color:palegoldenrod;">></i> Murcia <i style="color:palegoldenrod;">></i> España <i style="color:palegoldenrod;">></i> Europa <i style="color:palegoldenrod;">></i> La Tierra <i style="color:palegoldenrod;">></i> Sistema Solar <i style="color:palegoldenrod;">></i> Vía Láctea ... <a target="_blank" href="https://maps.app.goo.gl/51xMnnmDic4AcmZd9">ir</a></b>
<br/>
<br />
<div class="row">
    <div class="col-md-8">

        <div id="menú">
            <button style="background-color:gold;margin:3px;" onclick="document.getElementById('mainC').innerHTML = document.getElementById('software').innerHTML;"><b>Software</b></button>
            <button style="background-color: gold; margin: 3px;" onclick="document.getElementById('mainC').innerHTML = document.getElementById('eGs').innerHTML;"><b>Easter Eggs</b></button>
            <button style="background-color: gold; margin: 3px;" onclick="document.getElementById('mainC').innerHTML = document.getElementById('artesania').innerHTML;"><b>Artesanía</b></button>
            <button style="background-color: gold; margin: 3px;" onclick="document.getElementById('mainC').innerHTML = document.getElementById('reparacion').innerHTML;"><b>Reparación</b></button>
            <button style="background-color: gold; margin: 3px;" onclick="document.getElementById('mainC').innerHTML = document.getElementById('2mano').innerHTML;"><b>&#128722; Segunda Mano - Compra/Venta</b></button>
            <button style="background-color: gold; margin: 3px;" onclick="document.getElementById('mainC').innerHTML = document.getElementById('musica').innerHTML;"><b>Música</b></button>
            <button style="background-color: gold; margin: 3px;" onclick="document.getElementById('mainC').innerHTML = document.getElementById('documentos').innerHTML;"><b>Documentos</b></button>
            <button style="background-color: gold; margin: 3px;" onclick="document.getElementById('mainC').innerHTML = document.getElementById('buHaTVonline').innerHTML;"><b>buHaTV</b></button>
        </div>
        <br />
        <div id="mainC"></div>
        <br />
        <b><i>F.Y.I: (For Your Information/Para tu información)</i></b><br /><br />
        <p>info: <a target="_blank" href="mailto:apzyx@yahoo.com">apzyx@yahoo.com</a></p>
        <br />
        <hr style="height: 2px; border-width: 0; color: gold; background-color: gold">
    </div>
    <div id="software" style="visibility: hidden;display: none;">
        <b>... Se realizan trabajos de páginas web o software a medida ...</b><br /><br />

        <i>Dado el tiempo y dedicación necesarios para desarrollar una web o aplicación a medida, si lo que buscas es una solución rápida, económica o directa puedes realizar tu web de forma autónoma o gratuita accediendo a:</i><br />
        <a target="_blank" href="https://wordpress.com/es/">WordPress</a><br />
        <a target="_blank" href="https://www.blogger.com/about/?hl=es">Blogger</a><br />
        <br />

        <b>Ejemplo de Aplicativos en desarrollo:</b><br />
        <b>- </b><i>Desarrollo publicado en beta:</i> <b>Calculadora de Números Enteros Grandes</b> <a target="_blank" href="https://www.microsoft.com/es-es/p/calculadora-n%C3%BAmeros-enteros-grandes/9nmqf74hfl2k">Versión Español</a> <a target="_blank" href="https://www.microsoft.com/en-us/p/big-integers-calculator/9nmqf74hfl2k">English version</a> <br />
        <b>- </b><i>Desarrollo a la espera de financiación:</i> <b>El Juego del Dominó - La Partida</b> <a target="_blank" href="https://www.microsoft.com/es-es/p/el-juego-del-domino-la-partida/9nv6dkb15dg7">Versión Español</a><br />
        <b>- </b><b>apz Editor de Imágenes</b> <a target="_blank" href="https://www.microsoft.com/es-es/p/apz-editor-de-imagenes/9n0x0pl557nw">Versión Multi-idioma</a><br />
        <b>- </b><i>Aplicación experimental:</i> <b>File To Video</b> <a target="_blank" href="https://www.microsoft.com/store/productId/9PP1V4D1D6JR">English version</a><br />
        <b>- </b><i>Binary to image</i> <b>BIT IMG</b> <a target="_blank" href="https://www.microsoft.com/store/apps/9P8TMNXR6T09">English version</a><br />

        <br />

        <b>Desarrollo de prototipos y/o proyectos pilotos</b><br />
        <b>Ley Pirata, 50% al iniciar el proyecto/prototipo, 50% al finalizarlo (confianza mutua)</b><br />
        <b>- Iniciar un proyecto/prototipo ~(mínimo)~> 500 € </b>
        <br />
        <br />
        <b> APRENDIENDO BASES y ESTRUCTURAS BLOCKCHAIN BAJO C# y .NET A TRAVéS DEL PROYECTO DE Sam Segura > <a href="https://segurachain.com" target="_blank">https://segurachain.com</a> LA EVOLUCIóN LóGICA DE SU RED CENTRALIZADA > <a href="https://xenophyte.com" target="_blank">https://xenophyte.com</a></b><br />
        THANK YOU ALWAYS SAM SEGURA =) (= =) (=

    </div>
    <div id="artesania" style="visibility: hidden;display: none; text-align:center;">
        <b>... Se realizan trabajos de artesanía ...</b><br /><br />
        <i> Desde cuadros, llaveros, carteles, a puzzles personalizados en madera y pintados a mano y pirograbados...</i>
        <br />
        <br />
        <b>ALFONSO XIII</b> <br />
        <img style="margin:25px;" height="300" src="~/imgs/AlfonsoXIII.jpg" alt="Alfonso XIII" /> <a style="vertical-align:bottom;" target="_blank" href="https://www.todocoleccion.net/arte-pintura-oleo/alfonso-xiii-perez-sanchez-pablo~x473719032">&#128722;</a><br /><br />
        <b>RaSGaNDo La ReaLiDaD</b> <br />
        <img style="margin:25px;" height="300" src="~/imgs/RaSGaNDoLaReaLiDaD.jpg" alt="RaSGaNDo La ReaLiDaD" /> <a style="vertical-align:bottom;" target="_blank" href="https://www.todocoleccion.net/arte-pintura-oleo/rasgando-realidad-oleo-pintado-mi-perez-sanchez-pablo~x472310552">&#128722;</a><br /><br />
        <b>Maths Temathics</b> <br />
        <img style="margin:25px;" height="300" src="~/imgs/MathsTemathics.jpg" alt="Maths Temathics" /> <a style="vertical-align:bottom;" target="_blank" href="https://www.todocoleccion.net/arte-pintura-oleo/maths-temathics-perez-sanchez-pablo-apzyx~x479106277">&#128722;</a><br /><br />

    </div>
    <div id="reparacion" style="visibility: hidden;display: none;">
        <b>... Se realizan trabajos de reparación de pequeño aparato doméstico ...</b><br /><br />
        <i>Desde pedales de máquinas de coser donde el condensador o capacitador pasó a mejor vida y bloquea el funcionamiento de la máquina entera, hasta cafeteras que dejarón de funcionar de un instante a otro y donde el problema seguramente esté en el termostato o fusible térmico, arto ya de calentarse y enfriarse, pasando por elementos mecánicos rotos por uso o caída inserperada donde la única forma de soldar el "hueso" es con un par de clavos, paciencia y mucho arte y dedicación..</i><br /><br />
        <b>Mano de Obra + Desplazamiento + Componentes y Piezas reemplazados/as ~(alrededor de)~> 35 €</b><br />
        <b>Mano de Obra + Componentes y Piezas reemplazados/as ~(alrededor de)~> 15 €</b>

    </div>
    <div id="2mano" style="visibility: hidden;display: none;">
        <b>... Compra/Venta de artículos de segunda mano ...</b><br /><br />
        <a target="_blank" href="https://www.todocoleccion.net/s/catalogo?identificadorvendedor=pabloperezsanche3900">apzyx en todocoleccion.net</a>


    </div>
    <div id="eGs" style="visibility: hidden;display: none;">
        <b>apzyx Easter Egg 2023 - Huevo de pascua de apzyx 2023</b> <a target="_blank" href="https://1drv.ms/v/s!AqoVnXgjb4cdp4NzD1OFZWzLVGB3zA?e=fz6v5h">descargar mp4</a><br /><br />
    </div>
    <div id="musica" style="visibility: hidden;display: none;">

        apzyx en <a target="_blank" href="https://soundcloud.com/user-735562403">SoundCloud</a>, <a target="_blank" href="http://www.youtube.com/%40apzyx">Youtube</a>
        <br /><br />
        Lista <a target="_blank" href="https://www.youtube.com/playlist?list=PL67Xh85B8XZnF_5Rfy6eRYyO-e5GvXhtK">Youtube!</a>
        <br /><br />
        Lista <a target="_blank" href="https://open.spotify.com/playlist/5M1EKzexylgeYeTcLU2Z4f?si=KdDbMBx_T7G8FhGsV73c5g">Spotify!</a>
        <br /><br />
        Lista <a target="_blank" href="https://youtube.com/playlist?list=PL67Xh85B8XZkjIH0UqL2OApBXAL0g3hEz&si=AGQyPhwx3QI3cE_5">apzyx PsyTrance session 2024 s.G. &#128148; &#128517; &#128522;</a>
        <br /><br />
        Lista <a target="_blank" href="https://youtube.com/playlist?list=PL67Xh85B8XZm4HJjO_qrjr06VZXQbXxuM&si=77FP0H60plZCoOLK">Carla's & apzyx's remix CD1</a>
        <br /><br />
        Lista <a target="_blank" href="https://youtube.com/playlist?list=PL67Xh85B8XZm4JYzBiE2CDUXQDr-hyMWT&si=eEmfSaqGLacsOiUh">Mägo &#128314;</a>
        <br /><br />
    </div>
    <div id="documentos" style="visibility:hidden;display:none;">
        <b>Los 100000 primeros números primos</b> <a target="_blank" href="https://www.amazon.com/100000-primeros-N%C3%BAmeros-Primos-Spanish/dp/B089TXGNSJ">Versión en papel</a><br />
        <b>The first 100000 Prime Numbers</b> <a target="_blank" href="https://www.amazon.com/first-100000-Prime-Numbers/dp/B089M4336M">Paper version</a><br /><br />
        <b>Viaje al otro lado</b> - Otra perspectiva a la vida después de la muerte <a target="_blank" href="https://youtu.be/sZQCDIhaKgg">YouTubeES</a> <a target="_blank" href="https://www.amazon.es/Viaje-otro-lado-perspectiva-despu%C3%A9s/dp/B0B33NWYKG">Versión en papel</a><br />
        <b>Journey to the Other Side</b> - Another perspective on life after death <a target="_blank" href="https://youtu.be/l3ETcnJVXfM">YouTubeEN</a> <a target="_blank" href="https://www.amazon.com/JOURNEY-OTHER-SIDE-Another-perspective/dp/B0B2TTDCCT">Paper version</a><br /><br />
        <b>REALISMO CONTEXTUAL ("Corriente filosófica") <a href="~/REALISMO_CONTEXTUAL_v1.4.pdf" target="_blank">~/REALISMO_CONTEXTUAL_v1.4.pdf</a><br />@*<a target="_blank" href="https://www.amazon.es/REALISMO-CONTEXTUAL-coherente-subjetividad-Incompleta/dp/B0CC4GT7NF">Versión en Papel (v1.1)</a><br />*@<a target="_blank" href="https://www.amazon.es/REALISMO-CONTEXTUAL-coherente-entender-subjetividad-ebook/dp/B0CMPJ5TSR">e-Book (v1.4)</a></b><br /><button style="background-color:gold;" onclick="document.getElementById('realismoContextual').style.display = 'block'; document.getElementById('realismoContextualEx').style.display = 'block';">Busca y entiende tu subjetividad</button>
        <div id="realismoContextual" style="display:none;">
            <p title="Realismo Contextual (''Corriente filosófica'')" lang="es">

                <br />
                <br />
                <b>
                    INTRODUCCIÓN
                </b>
                <br />
                El Realismo Contextual es una corriente filosófica que busca comprender la complejidad y la subjetividad de la realidad a través de un enfoque pragmático, crítico y constructivista. Esta corriente surge de la necesidad de reconciliar las diferentes perspectivas filosóficas sobre la verdad y el conocimiento, reconociendo que la percepción humana está influida por el contexto social, cultural e histórico en el que se encuentra cada individuo. En este ensayo, se presentará una definición detallada del Realismo Contextual y se explorarán sus implicaciones para la comprensión de la realidad y el conocimiento.
                <br />
                <br />
                <b>
                    DESARROLLO
                </b>
                <br />
                El Realismo Contextual se basa en tres pilares fundamentales: la complejidad de la realidad, la subjetividad de la percepción humana y la influencia del contexto en la comprensión de la realidad. En primer lugar, el Realismo Contextual reconoce que la realidad es compleja y multifacética, y que no existe una única forma de entenderla. Esta corriente filosófica adopta un enfoque pragmático, buscando soluciones prácticas a los problemas cotidianos, pero reconociendo que estas soluciones pueden cambiar en función del contexto.
                <br />
                En segundo lugar, el Realismo Contextual reconoce que la percepción humana es subjetiva y está influenciada por el contexto social, cultural e histórico en el que se encuentra cada individuo. Por lo tanto, esta corriente filosófica adopta un enfoque crítico y constructivista, cuestionando constantemente las creencias y teorías establecidas y reconociendo el papel de la cultura, la historia y la política en la creación y difusión del conocimiento y la verdad.
                <br />
                En tercer lugar, el Realismo Contextual reconoce la importancia del contexto en la comprensión de la realidad. Esta corriente filosófica considera que la razón y la observación son herramientas importantes para comprender el mundo, pero reconoce que estas herramientas tienen limitaciones y están influenciadas por el contexto. Por lo tanto, el Realismo Contextual adopta un enfoque contextualista, reconociendo que la comprensión de la realidad depende del contexto social, cultural e histórico en el que se encuentra cada individuo.
                <br />
                <br />
                <b>
                    CONCLUSIÓN
                </b>
                <br />
                El Realismo Contextual es una corriente filosófica que busca comprender la complejidad y la subjetividad de la realidad a través de un enfoque pragmático, crítico y constructivista. Esta corriente reconoce la importancia del contexto social, cultural e histórico en la comprensión de la realidad y adopta un enfoque contextualista para entenderla. En última instancia, el Realismo Contextual ofrece una perspectiva única y valiosa para la comprensión de la realidad y el conocimiento, reconociendo la complejidad y la subjetividad de la experiencia humana.
                <br />
                <br />
                <i>(apzyx & chatGPT)</i>
                <br />
            </p>
        </div>
    </div>
    <div id="buHaTVonline" style="visibility:hidden;display:none;">
        <b>Twitch</b> <a target="_blank" href="https://www.twitch.tv/entryfragglerock">Proyecto en pausa o cancelado</a><br />
        
    </div>
    
    <div class="col-md-4" style="text-align:center;vertical-align:central;">
        <img alt="QR de donaciones" src="~/imgs/PayPalQR.png" /><br />
        <a href="https://www.paypal.com/donate/?hosted_button_id=LXFE4WSUPC3VE" target="_blank">=)</a><br /><br />
        <a alt="apzyx o lo que se entiende como tal desde el transceptor real que origina su consciencia" href="~/imgs/MisionAPZ001.png" target="_blank"><img src="~/imgs/MisionAPZ001.png" width="300" height="300" style="width:300px;height:300px" /></a><br /><br />
        <div id="realismoContextualEx" style="display:none;">
            <a alt="MisionAPZ002" href="~/imgs/MisionAPZ002.png" target="_blank"><img src="~/imgs/MisionAPZ002.png" width="300" height="300" style="width:300px;height:300px" /></a><br /><br />
            <a alt="MisionAPZ003" href="~/imgs/MisionAPZ003.png" target="_blank"><img src="~/imgs/MisionAPZ003.png" width="300" height="300" style="width:300px;height:300px" /></a><br /><br />
            <a alt="MisionAPZ004" href="~/imgs/MisionAPZ004.png" target="_blank"><img src="~/imgs/MisionAPZ004.png" width="300" height="300" style="width:300px;height:300px" /></a><br /><br />
        </div>
    </div>
</div>

