<div class="jumbotron" style="margin-top: 5px; padding-top: 5px; background-size: contain; background-image: url(/imgs/apzyxGamesHead.jpg); background-color: black; ">
    <div class="row" style="margin-top:5px;padding:5px;">
        <div class="col-md-12" style="text-align:center;vertical-align:central;">
            @*<div style="text-align:center;vertical-align:central;margin:23px;">

        </div>*@
            <h1 style="color:gold;">apzyxGames</h1>
            @*<img src="~/imgs/apzyxGamesHead.jpg" style="width:66%;height:auto;" /><br/><br />*@
            <p class="lead" lang="es" style="color: gold;">
                apzyxGames es un estudio familiar inusual independiente formado a nivel ejecutivo por una sola persona (Pérez Sánchez, Pablo),
                nutrido y interdependientemente condicionado con sus circunstancias individuales y sociales, así como esta "La Realidad" y la percepción subjetiva en la que todo esto se encuentra,
                para cualquier consulta teórico filosófica compleja, duda derivada interpretable, sugerencia constructiva y/o indicaciones y propuestas, ya sea concreta, relativa o existencial puede contactar a apzyx@yahoo.com
            </p>
        </div>

        
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;vertical-align:central;">
            <b>&infin;</b>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-md-8">
                
        <p>
            <b>PROJECTS:</b><br /><br />
            <b>Música</b> > <a target="_blank" href="https://www.youtube.com/playlist?list=PL67Xh85B8XZnF_5Rfy6eRYyO-e5GvXhtK">Youtube!</a> <a target="_blank" href="https://open.spotify.com/playlist/5M1EKzexylgeYeTcLU2Z4f?si=KdDbMBx_T7G8FhGsV73c5g">Spotify!</a><br /><br />
            <b>Los 100000 primeros números primos</b> <a target="_blank" href="https://www.amazon.com/100000-primeros-N%C3%BAmeros-Primos-Spanish/dp/B089TXGNSJ">Versión en papel</a><br />
            <b>The first 100000 Prime Numbers</b> <a target="_blank" href="https://www.amazon.com/first-100000-Prime-Numbers/dp/B089M4336M">Paper version</a><br /><br />
            <i>Desarrollo publicado en beta:</i> <b>Calculadora de Números Enteros Grandes</b> <a target="_blank" href="https://www.microsoft.com/es-es/p/calculadora-n%C3%BAmeros-enteros-grandes/9nmqf74hfl2k">Versión Español</a> <a target="_blank" href="https://www.microsoft.com/en-us/p/big-integers-calculator/9nmqf74hfl2k">English version</a> <br /><br />
            <i>Desarrollo a la espera de financiación:</i> <b>El Juego del Dominó - La Partida</b> <a target="_blank" href="https://www.microsoft.com/es-es/p/el-juego-del-domino-la-partida/9nv6dkb15dg7">Versión Español</a><br /><br />
            <b>apz Editor de Imágenes</b> <a target="_blank" href="https://www.microsoft.com/es-es/p/apz-editor-de-imagenes/9n0x0pl557nw">Versión Multi-idioma</a><br /><br />
            <b>Viaje al otro lado</b> - Otra perspectiva a la vida después de la muerte <a target="_blank" href="https://youtu.be/sZQCDIhaKgg">YouTubeES</a> <a target="_blank" href="https://www.amazon.es/Viaje-otro-lado-perspectiva-despu%C3%A9s/dp/B0B33NWYKG">Versión en papel</a><br />
            <b>Journey to the Other Side</b> - Another perspective on life after death <a target="_blank" href="https://youtu.be/l3ETcnJVXfM">YouTubeEN</a> <a target="_blank" href="https://www.amazon.com/JOURNEY-OTHER-SIDE-Another-perspective/dp/B0B2TTDCCT">Paper version</a><br /><br />
            <b>apzyx Easter Egg 2023 - Huevo de pascua de apzyx 2023</b> <a target="_blank" href="https://1drv.ms/v/s!AqoVnXgjb4cdp4NzD1OFZWzLVGB3zA?e=fz6v5h">descargar mp4</a><br /><br />
            <i>Aplicación experimental:</i> <b>File To Video</b> <a target="_blank" href="https://www.microsoft.com/store/productId/9PP1V4D1D6JR">English version</a><br /><br />
            <i>Binary to image</i> <b>BIT IMG</b> <a target="_blank" href="https://www.microsoft.com/store/apps/9P8TMNXR6T09">English version</a><br /><br />                        
        </p>


    </div>
    <div class="col-md-4" style="text-align:center;vertical-align:central;">
        <img src="~/imgs/PayPalQR.png" /><br />
        <a href="https://www.paypal.com/donate/?hosted_button_id=LXFE4WSUPC3VE" target="_blank">gift some coffee or beer xD</a><br /><br />
        <a href="~/imgs/MisionAPZ001.png" target="_blank"><img src="~/imgs/MisionAPZ001.png" width="300" height="300" style="width:300px;height:300px" /></a><br /><br />
        <div id="realismoContextualEx"  style="display:none;">
            <a href="~/imgs/MisionAPZ002.png" target="_blank"><img src="~/imgs/MisionAPZ002.png" width="300" height="300" style="width:300px;height:300px" /></a><br /><br />
            <a href="~/imgs/MisionAPZ003.png" target="_blank"><img src="~/imgs/MisionAPZ003.png" width="300" height="300" style="width:300px;height:300px" /></a><br /><br />
            <a href="~/imgs/MisionAPZ004.png" target="_blank"><img src="~/imgs/MisionAPZ004.png" width="300" height="300" style="width:300px;height:300px" /></a><br /><br />
        </div>
    </div>
    </div>

