@{
    ViewBag.Title = "Contacto";
}
<article title="Contacto - www.universalsemiotics.com">
    <header><h1>Contact</h1></header>
    <section title="Contacto" style="text-align:center;">        
        <p>Data and contact address</p>
        <address>
            Pérez Sánchez, Pablo<br />
            c\ Fuensanta Nº 40 C.P: 30152 (Murcia) ESPAÑA<br />
            <abbr title="Phone">Phone:</abbr>
            +34 645263898 (Spanish)
        </address>
        <address>
            <strong>Admin:</strong>   <a href="mailto:apzyx@yahoo.com">apzyx@yahoo.com</a><br />
        </address>
    </section>    
</article>