
@{
    ViewBag.Title = "Aviso Legal - ";
}

<h1>Aviso Legal</h1>

<h4>1.- Información corporativa</h4>

<p>CONVERSORDETEXTOAMP3 es titularidad de D. Pablo Pérez Sánchez con D.N.I. nº 48.432.690 - A, quien también ostenta la titularidad del sitio web “CONVERSORDETEXTOAMP3.com” (en adelante denominado “Web”) y cuya actividad principal consiste en la prestación de servicios de [Conversión de texto a mp3], con sede principal sita en c\ Fuensanta Nº 40, C.P. 30.010 DE Murcia (España).</p>

<p>La dirección de correo electrónico para que los usuarios puedan efectuar sus consultas a CONVERSORDETEXTOAMP3 es la siguiente: “apzyx@yahoo.com” y teléfono: +34 [645263898].</p>

<h4>2.- Aceptación por el usuario</h4>

<p>El presente documento (en adelante denominado “Aviso Legal”) tiene como único objeto regular el uso del Web que CONVERSORDETEXTOAMP3 pone a disposición de los Usurarios en la URL  http://CONVERSORDETEXTOAMP3.com.</p>

<p>En cualquier caso, la utilización del Web por un tercero le atribuye la condición de Usuario y, supone la aceptación plena del Usuario de todas y cada una de las Condiciones que se incorporan en el presente Aviso Legal.</p>

<p>CONVERSORDETEXTOAMP3 ofrece, a través del Web, los servicios anteriormente referidos en el apartado 1 y que, en todo caso, se someterán a unas condiciones particulares sobre las cuales se informará al Usuario en cada servicio concreto que pretenda contratar.</p>

<h4>3.- Uso correcto del sitio web</h4>

<p>El Usuario se compromete a utilizar el Web, sus contenidos y servicios de conformidad con la Ley, el presente Aviso Legal, las buenas costumbres y el orden público.</p>

<p>Del mismo modo, el Usuario se obliga a no utilizar el Web o los servicios que se presten a través de él con fines o efectos ilícitos o contrarios al contenido del presente Aviso Legal, lesivos de los intereses o derechos de terceros, o que de cualquier forma pueda dañar, inutilizar o deteriorar el Web o sus servicios o impedir un normal disfrute del mismo por otros Usuarios.</p>

<p>Asimismo, el Usuario se compromete expresamente a no destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, programas o documentos electrónicos y demás que se encuentren en el Web de CONVERSORDETEXTOAMP3.</p>

<p>El Usuario se compromete a no obstaculizar el acceso de otros usuarios al servicio de acceso mediante el consumo masivo de los recursos informáticos a través de los cuales CONVERSORDETEXTOAMP3 presta el servicio, así como realizar acciones que dañen, interrumpan o generen errores en dichos sistemas.</p>


<p>El Usuario se compromete a no introducir programas, virus, macros, applets, controles ActiveX o cualquier otro dispositivo lógico o secuencia de caracteres que causen o sean susceptibles de causar cualquier tipo de alteración en los sistemas informáticos de CONVERSORDETEXTOAMP3 o de terceros.</p>

<p>El Usuario se compromete a no obtener informaciones, mensajes, gráficos, dibujos, archivos de sonido y/o imagen, fotografías, grabaciones, software y, en general, cualquier clase de material accesible a través del Web o de los servicios ofrecidos en el mismo o por terceros colaboradores de CONVERSORDETEXTOAMP3.</p>

<h4>4.- Propiedad intelectual e industrial</h4>

<p>Todos los contenidos del Web, salvo que se indique lo contrario, son titularidad exclusiva de CONVERSORDETEXTOAMP3 y, con carácter enunciativo, que no limitativo, cualquier diseño gráfico, código fuente, logos, textos, ilustraciones, fotografías, y demás elementos que aparecen en el Web a excepción de las creaciones, obras gráficas, imágenes y diseños que serán propiedad íntegramente del Artista que las suba al Web. Igualmente, todos los nombres comerciales, marcas o signos distintivos de cualquier clase contenidos en el Web están protegidos por la Ley.</p>

<p>CONVERSORDETEXTOAMP3 no concede ningún tipo de licencia o autorización de uso personal al Usuario sobre sus derechos de propiedad intelectual e industrial o sobre cualquier otro derecho relacionado con su Web y los servicios ofrecidos en la misma.</p>

<p>Por todo ello, el Usuario reconoce que la reproducción, distribución, comercialización o transformación no autorizadas de los elementos indicados en los apartados anteriores  constituye una infracción de los derechos de propiedad intelectual y/o industrial de CONVERSORDETEXTOAMP3 o del titular de los mismos.</p>

<h4>5.- Régimen de responsabilidad</h4>

<h4>5.1. Responsabilidad de CONVERSORDETEXTOAMP3 por el Uso del Web</h4>

<p>El Usuario es el único responsable de las infracciones en las que pueda incurrir o de los perjuicios que pueda causar o causarse por la utilización del Web, quedando CONVERSORDETEXTOAMP3, en su caso, exonerado de cualquier clase de responsabilidad que se pudiera derivar por las acciones del Usuario.</p>

<p>El Usuario es el único responsable frente a cualquier reclamación o acción legal, judicial o extrajudicial, iniciada por terceras personas contra CONVERSORDETEXTOAMP3 basada en la utilización por el Usuario del Web. En su caso, el Usuario asumirá cuantos gastos, costes e indemnizaciones sean irrogados a CONVERSORDETEXTOAMP3 con motivo de tales reclamaciones o acciones legales.</p>



<h4>5.2. Responsabilidad de CONVERSORDETEXTOAMP3 por el funcionamiento del Web</h4>

<p>CONVERSORDETEXTOAMP3 está exonerado de toda responsabilidad que se pudiera derivar de interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo del sistema electrónico, motivado por causas ajenas a CONVERSORDETEXTOAMP3.</p>

<p>Asimismo, CONVERSORDETEXTOAMP3 también se exonera de cualquier responsabilidad que pudiera derivarse por retrasos o bloqueos en el funcionamiento operativo de este sistema electrónico causado por deficiencias o sobre carga en las líneas telefónicas o en Internet, así como de daños causados por terceras personas mediante intromisiones ilegítimas fuera del control de CONVERSORDETEXTOAMP3.</p>

<h4>5.3. Responsabilidad de CONVERSORDETEXTOAMP3 por links o banners.</h4>

<p>CONVERSORDETEXTOAMP3 declina toda responsabilidad respecto a la información que se halle fuera del Web, ya que la función de los links y/o banners que aparecen es únicamente la de informar al Usuario sobre la existencia de otras fuentes de información sobre un tema en concreto.</p>

<p>CONVERSORDETEXTOAMP3 se exonera de toda responsabilidad por el correcto funcionamiento de tales enlaces, del resultado obtenido a través de los mismos, de la veracidad y licitud del contenido o información a la que se puede acceder así como de los perjuicios que pueda sufrir en virtud de la información encontrada en la web enlazada.</p>

<h4>6.- Política de privacidad y protección de datos de carácter personal.</h4>

<h4>6.1. Navegación anónima a través de las páginas web</h4>
<p>CONVERSORDETEXTOAMP3 sólo obtiene, trata y conserva la siguiente información acerca de los visitantes de nuestro web:</p>
<p>a.	El nombre de dominio del proveedor (PSI) y/o dirección IP que les da acceso a la red. De esta manera podemos elaborar estadísticas sobre los países y servidores que visitan más a menudo nuestro web.</p>
<p>b.	La fecha y hora de acceso a nuestro web. Ello nos permite averiguar las horas de más afluencia, y hacer los ajustes precisos para evitar problemas de saturación en nuestras horas punta.</p>
<p>c.	La dirección de Internet desde la que partió el link que dirige a nuestro web. Gracias a este dato, podemos conocer la efectividad de los distintos banners y enlaces que apuntan a nuestro servidor, con el fin de potenciar los que ofrezcan mejores resultados.</p>
<p>d.	El número de visitantes diarios de cada sección. Ello nos permite conocer las áreas de más éxito y aumentar y mejorar su contenido, con el fin de que los usuarios obtengan un resultado más satisfactorio.</p>
<p>La información obtenida es totalmente anónima, y en ningún caso puede ser asociada a un usuario concreto e identificado.</p>

<h4>6.2. Navegación con cookies</h4>

<p>Los dispositivos de almacenamiento y recuperación de datos (cookies) son pequeños ficheros de datos generados por el Web por donde el Usuario navega y que se guardan en un directorio del dispositivo utilizado por el Usuario. Éstas facilitan cierta información sobre la navegación del Usuario permitiendo mejorar el servicio del Web y ofrecerle una mejor experiencia de Usuario.</p>

<p>De acuerdo con lo dispuesto en la Ley 34/2002, de 11 de julio, de Servicios de Sociedad de la Información y del Comercio Electrónico, le informamos que el Web utiliza dispositivos de almacenamiento y recuperación de datos en los equipos terminales de los Usuarios registrados y que la información generada por dichos dispositivos es recopilada y utilizada por CONVERSORDETEXTOAMP3 para las siguientes finalidades:</p>

<p>•	Registrar las entradas de datos del Usuario en el Web (por ejemplo, cuando el usuario rellena un formulario) (cookies de sesión);</p>
<p>•	Identificarle como Usuario registrado y permitirle la navegación por los distintos contenidos del Web, únicamente mientras dure la sesión (cookies de autenticación de usuarios);</p>
<p>•	Prevenir abusos en la identificación del Usuario (por ejemplo, detectar intentos fallidos repetidos de validación del usuario), por un periodo limitado de tiempo, así como incrementar la seguridad en la prestación del servicio expresamente solicitado por el Usuario (cookies de seguridad);</p>
<p>•	Almacenar datos de carácter técnico de la sesión del Usuario estrictamente necesarios para reproducir contenidos de vídeo o audio (por ejemplo, de Flash Player), mientras dure la sesión;</p>
<p>•	Identificar el punto de origen y de destino de la comunicación del Usuario a través del Sitio Web, siendo esto necesario para llevar a cabo las comunicaciones a través de la red mientras dure la sesión (cookies de sesión de equilibrado de cargas);</p>
<p>•	Configurar las preferencias de las búsquedas que el Usuario realice a través del Sitio Web (cookies para la personalización del interface), por un periodo limitado de tiempo; y</p>
<p>•	Permitir al Usuario compartir contenidos con miembros de una determinada red social, siempre y cuando el Usuario no se haya desconectado de la red social (cookies de "plug-in" de redes sociales).</p>

<p>El almacenamiento y tratamiento de la información así obtenida por CONVERSORDETEXTOAMP3 obedece a una finalidad técnica al único fin de efectuar la transmisión de la comunicación por una red de comunicaciones electrónicas o resulta necesario para la prestación de los servicios expresamente solicitados por los usuarios registrados por lo que el registro como Usuario en el Web hace necesario el uso de cookies para estas finalidades, tal como permite el tercer apartado del artículo 22.2 de la antedicha Ley 34/2002, de 11 de julio.</p>

<p>Además de las anteriores finalidades de carácter técnico o necesario, le informamos de que CONVERSORDETEXTOAMP3 podrán asimismo utilizar la información generada y recopilada a través de estos dispositivos de almacenamiento para acceder a la información sobre su navegación dentro del Sitio Web cuando usted "inicia sesión" como Usuario registrado, con el fin de ofrecerle anuncios, promociones, publicidad y demás contenido personalizado según sus intereses o recordarle la última página que visitó.</p>

<p>En caso de no aceptar el establecimiento y uso de estos dispositivos de almacenamiento para las finalidades aquí descritas no debe registrarse como Usuario del Sitio Web. En todo caso, el Usuario tiene la opción de impedir la generación de cookies, mediante la selección de la correspondiente opción en su programa navegador, sin embargo CONVERSORDETEXTOAMP3 les advierte que la desactivación de los mismos puede impedir el buen funcionamiento de la página.</p>

<h4>6.3. Tratamiento de los datos personales obtenidos a través del Web y Política de Privacidad.</h4>

<p>El Usuario mediante la presente Política de Privacidad se le informa y acepta que sus datos de carácter personal, de conformidad con la Ley Orgánica 15/1999 sobre Protección de Datos de Carácter Personal y la antedicha Ley 34/2002 de Servicios de Sociedad de la Información y Comercio Electrónico, recabados en el momento de registrarse en el Web son incorporados a un fichero de tratamiento mixto, debidamente dado de alta en el Registro de la Agencia Española de Protección de Datos y cuya titularidad corresponde a CONVERSORDETEXTOAMP3, con la finalidad de: (i) elaborar estadísticas; (ii) organizar servicios y eventos (iii) gestionar altas y bajas de los registros de usuarios del Web; (iii) gestionar las solicitudes y peticiones; (iv) enviar boletines y revistas; (v) recibir valoraciones del Web para la mejora su uso; (vi) participar en sorteos, promociones, acciones de marketing y campañas publicitarias dentro de la aplicación organizados por CONVERSORDETEXTOAMP3 o terceros; (vii) gestionar la comercialización y el pago de productos o servicios solicitados propios y, además, (viii) enviar comunicaciones comerciales, incluidas las electrónicas o equivalentes, sobre ofertas y servicios relacionadas con CONVERSORDETEXTOAMP3 tanto de los productos propios o vinculados, como de los comercializados por terceros con los que se colabore y, concretamente, los relativos a los sectores de actividad de la música, televisión, medios de comunicación, cine, radio, formación y educación, hotelero, financiero, alimentación, telefonía, material deportivo, distribución, deportivo, viajes, seguros, ONGs, editorial, automoción, empleo, inmobiliario, meteorología, energía, moda, textil, videojuegos, salud, ocio, administración, electrónico y de telecomunicaciones.</p>

<p>El Usuario consiente expresamente que sus datos podrán ser comunicados o cedidos a las empresas de los sectores relatados en el párrafo superior al objeto de proceder con las mismas finalidades antes indicadas. Si Vd. no desea que sus datos personales sean cedidos, indíquenoslo enviando un correo electrónico a: “apzyx@yahoo.com”.</p>



<p>En el caso de comunicaciones comerciales a través de correo electrónico o medio equivalente, el Usuario consiente expresamente el envío de publicidad a través de dicho medio tanto de CONVERSORDETEXTOAMP3 como de las terceras empresas de los sectores descritos en el párrafo primero.</p>

<p>CONVERSORDETEXTOAMP3 como titular de los datos se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y de su deber de tratarlos con confidencialidad, y asume, a estos efectos, las medidas de índole técnica, organizativa y de seguridad necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecido en la Ley Orgánica 15/1999 sobre Protección de Datos de Carácter Personal, y demás Legislación aplicable. El uso del Web no va dirigido a menores de 14 años y, por tanto, CONVERSORDETEXTOAMP3, no recabara información personal de Usuarios que tengan menos de catorce (14) años. Si fuera menor de dicha edad, deberá abstenerse de facilitarnos información de carácter personal.</p>

<p>En caso de facilitarnos datos de carácter personal de otras personas, deberá hacerlo con su consentimiento y habiéndoles informado, con carácter previo, de los extremos contenidos en esta Política de Privacidad. Rogamos nos comunique cualquier variación que pueda darse en los datos facilitados.</p>

<p>El Web podrá mostrar publicidad de terceros y otros contenidos que vinculen con sitios web de terceros. CONVERSORDETEXTOAMP3 no puede controlar ni ser responsable de las prácticas y contenidos de las políticas de privacidad de terceros. Por favor, lea sus políticas de privacidad para saber cómo recopilan y tratan sus datos de carácter personal.</p>

<p>Los Usuarios registrados podrán ejercitar, en cualquier momento, sus derechos de acceso, rectificación, cancelación y oposición, contactando con CONVERSORDETEXTOAMP3, a través del envío de un correo electrónico a la dirección: “apzyx@yahoo.com” indicando en el subject las palabras “acceso/rectificación/cancelación de datos personales”.</p>

<h4>6.4. Seguridad</h4>

<p>CONVERSORDETEXTOAMP3 garantiza que cualquier transmisión que se produzca de sus datos personales se hará mediante una tecnología que cumple los máximos estándares de seguridad. La comunicación entre su máquina y nuestros servidores se establece de manera encriptada y se almacena en un “Servidor Seguro” de manera que nadie pueda acceder a ellos. El tratamiento de los datos lo realizará solamente personal autorizado y responsable de con sede sita en c\ Fuensanta Nº 40, C.P. 30.152 DE Murcia (España).</p>

<h4>7.- Duración y modificación de las condiciones expuestas.</h4>

<p>CONVERSORDETEXTOAMP3 podrá modificar los términos y condiciones aquí estipuladas, total o parcialmente, publicando cualquier cambio en la misma forma en que aparecen estas condiciones generales o a través de cualquier tipo de comunicación dirigida a los Usuarios.</p>


<p>La vigencia temporal de estas condiciones coincide, por lo tanto, con el tiempo de su exposición, hasta que sean modificadas total o parcialmente, momento en el cual pasarán a tener vigencia las condiciones ulteriormente modificadas.</p>

<p>Con independencia de lo dispuesto en las condiciones, CONVERSORDETEXTOAMP3 podrá dar por terminado, suspender o interrumpir, en cualquier momento sin necesidad de preaviso, el acceso a los contenidos de la página, sin posibilidad por parte del Usuario de exigir indemnización alguna. Tras dicha extinción, seguirán vigentes las prohibiciones de uso de los contenidos expuestas anteriormente en las presentes condiciones.</p>

<h4>8.- Generalidades</h4>

<p>Los encabezamientos de las distintas cláusulas son sólo informativos, y no afectarán, calificarán o ampliarán la interpretación de las condiciones expuestas.</p>

<p>En caso de existir discrepancia entre lo establecido en estas condiciones generales y las condiciones particulares de cada servicio específico, prevalecerán éstas últimas.</p>

<p>En el caso de que cualquier disposición o disposiciones de estas condiciones generales fuera(n) considerada(s) nula(s) o inaplicable(s), en su totalidad o en parte, por cualquier Juzgado, Tribunal u órgano administrativo competente, dicha nulidad o inaplicación no afectará a las otras disposiciones de las condiciones generales ni a las condiciones particulares de los diferentes servicios de CONVERSORDETEXTOAMP3.</p>

<p>El no ejercicio o ejecución por parte de CONVERSORDETEXTOAMP3 de cualquier derecho o disposición contenida en estas condiciones generales no constituirá una renuncia al mismo, salvo reconocimiento y acuerdo por escrito por su parte.</p>

<h4>9.- Legislación aplicable y Competencia judicial</h4>

<p>Cualquier controversia surgida de la interpretación o ejecución del presente Aviso Legal se interpretará bajo la legislación española.</p>

<p>Las relaciones establecidas entre CONVERSORDETEXTOAMP3 y el Usuario se regirán por lo dispuesto en la normativa vigente acerca de la legislación aplicable y la jurisdicción competente.</p>

<p>No obstante, para los casos en los que la normativa prevea la posibilidad a las partes de someterse a un fuero, CONVERSORDETEXTOAMP3 y el Usuario, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten a los Juzgados y Tribunales de la ciudad de Murcia.</p>

