
@{
    ViewBag.Title = "getEPUBText";
}

<h2>getEPUBText</h2>

<form method="post" action="~/Home/getEPUBText" enctype="multipart/form-data">

    <input type="file" name="file"/>

    <input type="submit" value="input"/>
</form>
