@Html.AntiForgeryToken()
<header><h1>conversor de texto/pdf/epub a voz/audio/mp3</h1></header>
<article title="Home Page - conversordetextoamp3.com" style="margin:15px;padding:15px;background-color:deepskyblue;border-radius:15px;color:white;">
    <header><hgroup><h2>Convertir texto a voz desde texto plano, formato PDF o EPUB es posible con esta aplicación online.</h2></hgroup></header>
    <section title="Texto a voz - Detalles">
        <p> 1º Desde la pestaña CONVERTIR podrá seleccionar y leer un archivo o copiar el texto directamente.</p>
        <p> 2º Le llegará un correo electrónico informándole de la finalización de su archivo.</p>
        <p> 3º Inicie sesión con la contraseña proporcionada o cámbiela y en la sección DESCARGAS podrá descargar su archivo MP3.</p>
        <p> (La opción quitar publidad le ofrecerá poder pasar muchos archivos en un mismo día y libres de publicidad inmersa)</p>
        <p> Gracias por su tiempo.</p>
    </section>
</article>
<div class="row">
    <div class="col-md-6">
        <p><a href="~/Account/Login">Iniciar sesión</a></p>
    </div>
    <div class="col-md-6">
        <p><a href="~/Account/Register">Regístrese</a></p>
    </div>
</div>
