@{
    ViewBag.Title = "Contacto";
}
<div style="color:white;">
    <h1>Contacto</h1>
    <h2>Gracias por su tiempo</h2>

    <address>
        Pablo Pérez Sánchez<br />
        c Fuensanta N40 30152 Aljucer (Murcia)<br />
        <abbr title="Teléfono">+34 645263898</abbr>

    </address>

    <address>
        <strong>Soporte:</strong> <a href="mailto:apzyx@yahoo.com">apzyx@yahoo.com</a>
    </address>
</div>
<br />
<br />
<a style="font-size:xx-large;color:red;" href="~/Home/Index"><</a>