
@{
    ViewBag.Title = "Financiación";
}

<h1>Financiación</h1>

<p>Puede realizar donaciones en las siguientes direcciones de criptoactivos:</p>
<br />
<p>Bitcoin (BTC): 34mRRwCkXNeULaKhVSgE9RGWGi9NvztQKQ</p>
<br />
<p>Ethereum (ETH): 0x39706776D707a43B0B32838AFbA5Ac12153C9EF0</p>
<br />
<p>Xiropht (XIRO): GLq7jY0znxw0oljd7f71K08p694i9OD1bkaGUuUNoAKd6t9LYb9</p>
<br />
<p>Paypal: apzyx@yahoo.com</p>
<br />
<br />
<i>También puede publicitarse en nuestra web clicando en las cabeceras "Publicidad +" de sendas columnas publicitarias a su elección.</i>

<br />
<br />
<a style="font-size:xx-large;color:red;" href="~/Home/Index"><</a>