@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white;color:black;">
    <h1>666way - 1ª Edición <br /> de Murcia a Holanda</h1>
    <p class="lead">Nuestra intención es crear una ruta a pie desde Murcia (España) a Holanda, sobrepasando todas las piedras que surjan en el camino.</p>
    <p><a href="" class="btn btn-primary btn-lg" style="background-color:red;">Entrenamiento &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Presentación</h2>
        <p>Conoce a Pablo Pérez Sánchez y su sueño por recorrer medio mundo andando.</p>
        <p><a class="btn btn-default" href="~/Home/Presentacion">Lea más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Financiación</h2>
        <p>Aquí resolverá sus dudas sobre cómo financiar el proyecto, bien sea publicitándose o haciendo una donación.</p>
        <p><a class="btn btn-default" href="/Home/Financiacion">Lea más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p>Todos los datos de contacto por si quiere hacer una consulta o le aclare algún punto inconexo =)</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Lea más &raquo;</a></p>
    </div>
</div>
&iexcl;D&not;^&ntilde;&ocirc;&atilde;R&lt;&Ecirc;&apos;&Ugrave;&ugrave;x&#x1C;di.&brvbar;C&grave;-&nbsp;&Uuml;&ouml;&Auml;&ordf;p