
@{
    ViewBag.Title = "Música";
}

<h1>Música</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL67Xh85B8XZnF_5Rfy6eRYyO-e5GvXhtK" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
