@{
    ViewBag.Title = "Presentación";
}

<h1>Presentación</h1>
<img src="~/imgs/CaminoDeSantiago_cuadro.jpg" alt="Camino de Santiago 2005 - Cuadro" height="235" width="449" style="height:235px;width:449px;" /><br/><br/>
<p>Pablo Pérez Sánchez, nacido en Murcia (España) concluyó el Camino de Santigo (Roncesvalles - Finisterra) en el año 2005.
También ha realizado numerosas salidas de senderismo, principalmente por Murcia, también por Madrid y Alicante.
En el año 2018 realizó la ruta Vallecas - Pozuelo de Alarcón, ida y vuelta, que le llevo día y noche andando, llevando su cuerpo a los límites hasta finalizar la ruta con la técnica conocida como Kinhin o meditación andando que aprendió del Zen.
A sus 35 años de edad (05/12/1984) desea realizar una ruta de Murcia a Holanda retransmitiendo en esta misma web todo el recorrido, lo cual conlleva sendos gastos de equipo y supervivencia en el largo viaje.</p>

<br/><br/>
<a style="font-size:xx-large;color:red;" href="~/Home/Index"><</a>