@page
@model ForgotPasswordConfirmation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ForgotPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["CheckEmail"]
</p>
