@page
@model ResetPasswordConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ResetPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["PasswordResetPlease"] <a asp-page="./Login">@Localizer["ClickHereLogin"]</a>.
</p>
