<h1>Contacto</h1>

<address>
    <i>Pablo Pérez Sánchez<br />
    c\ Fuensanta N 40<br />
    30152 Murcia (España)</i>
</address>

<address>
    <strong>Admin:</strong><br />
    <a href="mailto:apzyx@yahoo.com">apzyx@yahoo.com</a><br />
    <a href="tel: +34 645263898">+34 645263898</a>
</address>