@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Acerca";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Datos y dirección de contacto</p>

<address>
    Pérez Sánchez, Pablo<br />
    c\ Fuensanta Nº 40 30152 Aljucer (Murcia) ESPAÑA<br />
    <abbr title="Phone">P:</abbr>
    +34 645263898 (Spanish)
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:apzyx@yahoo.com">apzyx@yahoo.com</a><br />
</address>
