@{
    ViewBag.Title = "Olvidó su contraseña";
}
@{ if (TempData["msgKO"] != null)
    {
        <b style="background-color:salmon;">@TempData["msgKO"]</b>
    }
    if (TempData["msgOK"] != null)
    {
        <b style="background-color:lightgreen;">@TempData["msgOK"]</b>
    }
}
<form action="~/Login/ForgotPassword" method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <h3>Introduzca su E-Mail:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input required style="width:250px;" name="email" type="email" maxlength="255" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br /><button class="btn btn-default" type="submit">REESTABLECER</button>
        </div>
    </div>
</form>
